# Ignore VS Code settings
.vscode

0_datasets/original_images

_data_generation


1_data_augmentation/augmented_dataset
1_data_augmentation/split_dataset


# Ignore model checkpoints and training logs
2_sign_detection/runs
*.pt
